body{
    background-color: bisque;
    font-family: 'Quicksand', sans-serif;
}
.question, .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons button{
    font-family: 'Quicksand', sans-serif;
    background-color: white;
    width: 100px;
    height: 50px;
    margin: 20px;
    border-radius: 50%;
}

button:hover{
    cursor: pointer;
}